<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-3">
			<a href="/articles" class="btn btn-primary">Back</a>
		</div>
	</div>
	<div class="col-sm-12">
		<%= render 'feedbacks', feedbacks: @feedbacks %>
	</div>
</div>